<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <!-- HTML Meta Tags -->
  <title><%= title %> - <%= subtitle %></title>
  <meta name="description" content="<%= description %>">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="<%= title %>">
  <meta itemprop="description" content="<%= description %>">
  <meta itemprop="image" content="<%= preview %>">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="<%= baseUrl %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= title %> - <%= subtitle %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= preview %>">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %> - <%= subtitle %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= preview %>">

  <!-- Meta Tags Generated via http://heymeta.com -->


  <link rel="icon" type="image/png" href="assets/img/logo_250.png" />

  <link rel="stylesheet" href="assets/3p/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/3p/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163842958-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-163842958-1');
  </script>

  <!-- End Google Analytics -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<body>
  <header class="masthead">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a href="#" class="navbar-brand">
        <img src="assets/img/logo_400.png" alt="" width="130" height="130" class="d-inline-block align-top">
      </a>

      <div class="d-block d-sm-none">
            <a class="github-button" href="https://github.com/garronej/denoify" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star garronej/denoify on GitHub">Star</a>
      </div>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="<%= apiUrl %>" class="nav-link text-white"> Documentation </a>
          </li>
          <li class="nav-item" style="padding-top: 7px;">

            <div class="d-none d-sm-block">
              <a class="github-button" href="https://github.com/garronej/denoify" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star garronej/denoify on GitHub">Star</a>
            </div>


          </li>

          <li class="nav-item">
            <a href="<%= githubUrl %>" class="nav-link text-white" >
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>

        </ul>
      </div>
    </nav>
    <div class="container content">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center px-4">
          <h1 class="text-center"><%= title %></h1>
          <h3 class="text-center"><%= subtitle %></h3>
          <div class="terminal-wrapper">

            <div id="typed-strings" style="display: none;">
              <span>
                <span class="text-muted">></span> npx denoify<br>
              </span>
            </div>

            <div class="terminal m-auto term1">
              <span id="typed"></span>
            </div>

          </div>
        </div>


          <div class="col-sm-12 d-md-none text-center" style="margin-bottom: 20px;">
            <a href="<%= learnMoreUrl %>" class="btn mt-3 btn-white" style="width: 90%">
              Documentation
              <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i>
            </a>
          </div>

          <div class="col-lg-12 st_flex d-none d-md-flex" style="padding-left: 150px; padding-right: 150px; margin-bottom: 20px;">
            <a href="<%= learnMoreUrl %>" class="btn mt-3 btn-white">
              Documentation
              <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i>
            </a>
          </div>


      </div>
    </div>
  </header>

  <section class="screenshot-container">
    <img src="assets/img/demo.png" class="animate__animated animate__bounceIn animate__delay-1s" alt="">
  </section>

  <h1 style="
    text-align: center;
    margin-bottom: -20px;
    margin-top: 50px;
  ">Success stories</h1>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="10000">
    <div class="carousel-inner">

      <% quotes.forEach(function(quote,index){ %>
      <div class="carousel-item<%= index===0?' active':'' %>">
        <section class="comment">

          <div class="comment-wrapper shadow">

            <div class="friend-item">

              <div class="image-container">
                  <a href="<%= quote.url %>" target="_blank" rel="noopener noreferrer">
                      <img src="<%= quote.logo %>" class="friend-logo" role="presentation">
                  </a>
              </div>
              <div class="quote-container">
                <p>
                  <em><%- quote.quote %></em>
                </p>
              </div>

            </div>

          </div>
        </section>
      </div>
      <% }); %>


    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

  <footer class="mastfoot">
    Code licensed under MIT License.
  </footer>

  <script src="assets/3p/jquery/jquery.min.js"></script>
  <script src="assets/3p/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/3p/typed.js/typed.min.js"></script>
  <script>
    new Typed("#typed", {
      "stringsElement": '#typed-strings',
      "typeSpeed": 40,
      "showCursor": false
    });
  </script>
</body>

</html>